
 <div class="content-section-a">
      
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Register new Bank</h2>
                <p>Here you can create a new bank</p>
                <%= render "form" %>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
